*.h5ad
*.pyc
*.hdf5
*.png
*.pdf
*.svg
*.jpg
*.npy
*.npz
*.pkl
*.joblib
*/__pycache__/*
micron2.egg-info

*-checkpoint.ipynb
*.ipynb_checkpoints/
*.ipynb

notebook_stash/
*.tar.gz

*stardist_models/

*.DS_Store

*.csv
*.gz
